.productWrapper {
	overflow: hidden;
	width: 300px;
	height: 500px;
	border-radius: 0;
	background-color: #FFF;
	text-align: center;
}

.product {
	width: 300px;
	height: 500px;
}

.productPhoto img {
	width: 300px;
	height: 300px;
}

.description {
	font-weight: bold;
}

.additinalInfo {
	font-weight: 400;
}

.buttonWrapper {
	margin-top: 20px;
}

.button {
	border-radius: 0;
}

/* Aromas */
.productHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 8px;
	background-color: #212121;
	color: #FFF;
}

.backIcon {
	cursor: pointer;
}

.closeIcon {
	cursor: pointer;
}

.aromaList {
	display: flex;
	height: 255px;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-around;
}

.categoryButton {
	width: 140px;
	border-radius: 0;
}

.heading {
	margin: 0 15px;
}

.aromaDescription {
	display: none;
	height: 250px;
	margin-top: 7px;
}

.showAromaDescription {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.hide {
	display: none;
}

.quantityContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.quantityIcon {
	cursor: pointer;
}

.addToBasketButton {
	border-radius: 0;
}

.basketIcon {
	margin-right: 8px;
}

.aromaSearch {
	margin: 10px 5px 5px;
}

.productWrapper fieldset {
	border-radius: 0;
}
