.primary {
	padding: 10px;
	border: 1px solid black;
	background-color: transparent;
	cursor: pointer;
	font-size: 20px;
}

.primarySmall {
	padding: 5px;
	border: 1px solid black;
	background-color: transparent;
	cursor: pointer;
	font-size: 20px;
}

/* button:focus {
	outline: none;
} */
