.navContent {
	display: flex;
	justify-content: space-between;
}

.navLink {
	color: white;
}

.logos {
	display: flex;
	align-items: center;
	gap: 20px;
}

.logo {
	height: 50px;
	margin: 10px 0;
}

.vkLogoContainer {
	width: 24px;
	height: 24px;
}

@media screen and (max-width: 500px) {
	.navLinks {
		display: none;
	}

	.navContent {
		justify-content: center;
	}
}
