.bottomBar {
	display: none;
}

.dropdown {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

.navLink {
	color: white;
}

.vkLogoContainer {
	width: 24px;
	height: 24px;
}

@media screen and (max-width: 500px) {
	.bottomBar {
		display: flex;
	}
}
