.container {
	padding: 50px 6%;
	margin-top: 74px;
	background-color: #F5F5F5;
}

@media screen and (max-width: 951px) {
	.container {
		padding: 20px 3%;
	}
}

@media screen and (max-width: 832px) {
	.container {
		padding: 20px 2%;
	}
}

@media screen and (max-width: 500px) {
	.container {
		min-height: calc(100vh - 74px - 56px);
		margin-bottom: 56px;
	}
}
